<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.kapa.cities.mapper.CitiesMapper">

    <!-- 게시글 갯수 -->
    <select id="getCitiesAnnouncementrCnt" resultType="Integer" parameterType="egovframework.kapa.domain.Search">
        SELECT count(*) as listCnt
        FROM TB_Decision AS M
        <where>
			decisionState >= '2'
			AND delCheck = '0'
        </where>
        
         <if test = 'startDate neq null and startDate neq "" and endDate neq null and startDate neq "" '>
  		and convert(varchar(10), regdate, 20) 
		between #{startDate} and #{endDate}
		</if>
    </select>
	
	<select id="getCitiesAnnouncementList" resultType="egovframework.kapa.domain.Decision" parameterType="egovframework.kapa.domain.Search" >
		SELECT *
		
		FROM TB_Decision 
		
		<where>
			decisionState >= '3'
			AND delCheck = '0'
  		</where>
  		
  		 <if test = 'startDate neq null and startDate neq "" and endDate neq null and startDate neq "" '>
  		and convert(varchar(10), regdate, 20) 
		between #{startDate} and #{endDate}
		</if>
		
		ORDER BY seqNo DESC
		
		OFFSET (#{page}-1)*#{listSize} ROW
		FETCH NEXT #{listSize} ROW ONLY
	</select> 
	
</mapper>