<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.kapa.law.mapper.LawMapper">
    
    <!-- lawCnt -->
	<select id="getLawCnt" resultType="Integer" parameterType="egovframework.kapa.law.domain.LawVO">
        SELECT COUNT(*)
		FROM TB_Law 
		WHERE del_check = 0
		
  		<if test = 'title neq null and title neq ""'>     
	         AND title = #{title}
	         <!-- AND title LIKE CONCAT('%', #{title}, '%') -->
        </if>
        
  		<if test = 'article neq null and article neq ""'>     
	         AND article = #{article}
	         <!-- AND article LIKE CONCAT('%', #{article}, '%') -->
        </if>
        
  		<if test = 'paragraph neq null and paragraph neq ""'>    
	         AND paragraph = #{paragraph}
  			<!-- AND paragraph LIKE CONCAT('%', #{paragraph}, '%') -->
        </if>
        
    </select>

	<select id="getLawList" resultType="egovframework.kapa.law.domain.LawVO"  parameterType="egovframework.kapa.law.domain.LawVO">
        SELECT *
		FROM TB_Law
		WHERE del_check = 0
				
  		<if test = 'title neq null and title neq ""'>     
	         AND title = #{title}
	         <!-- AND title LIKE CONCAT('%', #{title}, '%') -->
        </if>
        
  		<if test = 'article neq null and article neq ""'>     
	         AND article = #{article}
	         <!-- AND article LIKE CONCAT('%', #{article}, '%') -->
        </if>
        
  		<if test = 'paragraph neq null and paragraph neq ""'>    
	         AND paragraph = #{paragraph}
  			<!-- AND paragraph LIKE CONCAT('%', #{paragraph}, '%') -->
        </if>
        
		ORDER BY seq_no DESC
		
		OFFSET (#{page}-1)* #{listSize} ROW
		FETCH NEXT 10 ROW ONLY
		
    </select>
    
    <!-- addLaw -->
	<insert id="addLaw" parameterType="egovframework.kapa.law.domain.LawVO">
		INSERT INTO TB_Law (article, paragraph, title, content, regdate, del_check)
		values (#{article}, #{paragraph}, #{title}, #{content}, #{regdate}, 0)
	</insert>
	
	<select id="getViewLaw" resultType="egovframework.kapa.law.domain.LawVO"  parameterType="integer">
        SELECT *
		FROM TB_Law
		WHERE del_check = 0
		AND seq_no = #{seq_no}
    </select>
    
	<select id="getLawTitles" resultType="hashmap">
        SELECT TITLE
		FROM TB_Law
		WHERE del_check = 0
		GROUP BY TITLE
    </select>
    
	<select id="getLawArticles" resultType="hashmap" parameterType="String">
        SELECT article
		FROM TB_Law
		WHERE del_check = 0
		AND title = #{title}
		GROUP BY article
    </select>
    
	<select id="getLawParagraph" resultType="hashmap" parameterType="egovframework.kapa.law.domain.LawVO">
        SELECT paragraph
		FROM TB_Law
		WHERE del_check = 0
		AND title = #{title}
		AND article = #{article}
		GROUP BY paragraph
    </select>
	
	 
	
</mapper>