<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.kapa.implementer.mapper.ImplementerMapper">

	 <!-- 게시글 목록 -->
	<select id="getImplementerList" resultType="egovframework.kapa.implementer.domain.ApplicationList" parameterType="egovframework.kapa.domain.Search">
		select ji.rept_loc,ji.acpt_judg_inst_cd,ji.biz_tp_cd, biz_oprt_dt,ji.judg_div_cd, ji.rwrd_prce,ji.case_no, km.* 
		from kapa_master km left join tb_ltis2kapa_judg_info ji on km.seq = ji.judg_seq 
		
		<where>
			ji.sido_cd = 11 and ji.judg_div_cd = 10 and ji.acpt_judg_inst_cd = 10
  		</where>
  		
  		 <if test = 'startDate neq null and startDate neq "" and endDate neq null and startDate neq "" '>
  		and convert(varchar(10), ViewReqDate, 20) 
		between #{startDate} and #{endDate}
		</if>
        
		<if test = 'numOrname neq null and numOrname neq ""'>
  		and
  		<!-- ji.case_no LIKE CONCAT('%', #{numOrname}, '%')
  		or -->
  		km.title LIKE CONCAT('%', #{numOrname}, '%')
		</if>
		
		<if test = 'subject neq null and subject neq ""'>
		and km.title  LIKE CONCAT('%', #{subject}, '%')
		</if>
		
		<if test = 'code neq null and code neq ""'>
		and ji.case_no  LIKE CONCAT('%', #{code}, '%')
		</if>
		
		<if test = 'part neq null and part neq ""'>	
		and km.consultAddr LIKE CONCAT('%', #{part}, '%')
        </if>
        
        <if test = 'name neq null and name neq ""'>	
		and km.Bigo LIKE CONCAT('%', #{name}, '%')
        </if>
        
		ORDER BY ViewReqDate DESC
			
		OFFSET (#{page}-1)*#{listSize} ROW
		FETCH NEXT #{listSize} ROW ONLY
	</select> 
	
	
	 <!-- 게시글 갯수 -->
    <select id="getImplementerCnt" resultType="Integer" parameterType="egovframework.kapa.domain.Search">
        select  count(*) as listCnt from
        (
        select  distinct ji.case_no, km.* from kapa_master km
		left join tb_ltis2kapa_judg_info ji on km.seq = ji.judg_seq
		
		<where>
			ji.sido_cd = 11 and ji.judg_div_cd = 10 and ji.acpt_judg_inst_cd = 10
  		</where>
  		
  		 <if test = 'startDate neq null and startDate neq "" and endDate neq null and startDate neq "" '>
  		and convert(varchar(10), ViewReqDate, 20) 
		between #{startDate} and #{endDate}
		</if>
        
		<if test = 'numOrname neq null and numOrname neq ""'>
  		and
  		<!-- ji.case_no LIKE CONCAT('%', #{numOrname}, '%')
  		or -->
  		km.title LIKE CONCAT('%', #{numOrname}, '%')
		</if>
		
		<if test = 'subject neq null and subject neq ""'>
		and km.title  LIKE CONCAT('%', #{subject}, '%')
		</if>
		
		<if test = 'code neq null and code neq ""'>
		and ji.case_no  LIKE CONCAT('%', #{code}, '%')
		</if>
		
		<if test = 'part neq null and part neq ""'>	
		and km.consultAddr LIKE CONCAT('%', #{part}, '%')
        </if>
        
        <if test = 'name neq null and name neq ""'>	
		and km.Bigo LIKE CONCAT('%', #{name}, '%')
        </if>
        ) a
        
        
        
    </select>

	<!-- 재결 상세보기-->
	<select id="getApplicationView" parameterType="Integer" resultType="egovframework.kapa.implementer.domain.ApplicationList">
        select top 1 ji.rept_loc,ji.acpt_judg_inst_cd,ji.biz_tp_cd, biz_oprt_dt,ji.judg_div_cd, ji.rwrd_prce,ji.case_no, km.* 
		from kapa_master km left join tb_ltis2kapa_judg_info ji on km.seq = ji.judg_seq 
		<where>
			seq = #{masterId}
  		</where>
    </select>


	<select id="getOpinionList" resultType="egovframework.kapa.domain.Decision" >
		SELECT  
			*
		FROM TB_Decision 
		
		<where>
			DecisionState >= '7'
			AND delCheck = '0'
  		</where>
		
		ORDER BY seqNo DESC
		
		OFFSET (#{page}-1)*#{listSize} ROW
		FETCH NEXT #{listSize} ROW ONLY
	</select> 
	
	
	 <!-- 게시글 갯수 -->
    <select id="getOpinionCnt" resultType="Integer">
        SELECT count(*) as listCnt
        FROM TB_Decision AS M
        <where>
			DecisionState >= '4'
			AND delCheck = '0'
        </where>
    </select>
    
    <insert id="insertDecision" parameterType="egovframework.kapa.domain.Decision">
    <!-- 	insert into TB_Decision(decisionState, userSeq,agendaState, groupEstablishedDate,  decisionReason, masterID, delCheck, regdate, uptdate, businessOperator, governor, landowner, amountA, amountB, amountC, landCnt, landArea ,landPrice ,objCnt, objPrice ,goodwillCnt ,goodwillPrice)
    	values(#{decisionState}, #{userSeq},#{agendaState}, #{groupEstablishedDate}, #{decisionReason}, #{masterID}, #{delCheck}, #{regdate}, #{uptdate}, #{businessOperator}, #{governor}, #{landowner}, #{amountA}, #{amountB}, #{amountC}, #{landCnt}, #{landArea}, #{landPrice}, #{objCnt}, #{objPrice}, #{goodwillCnt}, #{goodwillPrice}) -->
    	insert into TB_Decision(decisionState, userSeq,agendaState, groupEstablishedDate,  decisionReason, masterID, delCheck, regdate, uptdate, businessOperator, governor, landowner, amountA, amountB, amountC, landCnt, landArea ,landPrice ,objCnt, objPrice ,goodwillCnt ,goodwillPrice, notReqReason)
    	values(#{decisionState}, #{userSeq},#{agendaState}, #{groupEstablishedDate}, #{decisionReason}, #{masterID}, #{delCheck}, #{regdate}, #{uptdate}, #{businessOperator}, #{governor}, #{landowner}, #{amountA}, #{amountB}, #{amountC}, #{landCnt}, #{landArea}, #{landPrice}, #{objCnt}, #{objPrice}, #{goodwillCnt}, #{goodwillPrice}, #{notReqReason})
    </insert>
    
	<select id="getLtisCslt" parameterType="Integer" resultType="egovframework.kapa.domain.Decision">
	select judg_seq,cslt_land_cnt,cslt_area_amot,cslt_land_amt,cslt_obst_cnt,cslt_obst_amt,cslt_business_cnt,cslt_business_amt from [dbo].[tb_ltis2kapa_judg_info] where judg_seq = #{masterId}
	</select>
	<select id ="getSeqNo" resultType="Long">
		select COALESCE(Max(seqNo),0) from TB_Decision 
	</select>
	
	<update id="updateState">
		update TB_Decision set DecisionState = #{DecisionState} where SeqNo = #{SeqNo}
	</update>
	
	<insert id="insertTarget" parameterType="egovframework.kapa.domain.Decision_Target">
		insert into TB_Decision_Target( DecisionId, TargetInfo, BUN1, BUN2, Area_Before_Transfer, Area_After_Transfer, Etc, del_check, regdate)
    	values(#{DecisionId}, #{TargetInfo}, #{BUN1}, #{BUN2}, #{Area_Before_Transfer}, #{Area_After_Transfer}, #{Etc}, #{delCheck}, #{regdate})
    </insert>

	<insert id="insertCityplan" parameterType="egovframework.kapa.domain.Decision_Cityplan">
		insert into TB_Decision_Cityplan( DecisionId, planTitle, planContent, rank, delCheck, regdate)
    	values(#{DecisionId}, #{planTitle}, #{planContent}, #{rank}, #{delCheck}, #{regdate})
    </insert>

	<insert id="insertConsultationDate" parameterType="egovframework.kapa.domain.Decision_ConsultationDate">
		insert into TB_Decision_ConsultationDate( DecisionId, consultationDate, rank, delCheck, regdate, consultationDateText)
    	values(#{DecisionId}, #{consultationDate}, #{rank}, #{delCheck}, #{regdate}, #{consultationDateText})
    </insert>

	<select id="getApplicationConsultList" parameterType="Integer" resultType="string">
        SELECT
		      AppName  
		  FROM Kapa_consult
		  WHERE id = #{masterId}
    </select>


	<select id="getApplicationLandCount" parameterType="Integer" resultType="Integer">
       <!--  SELECT
		      count(*)  
		  FROM tb_ltis2kapa_rept_info
		  WHERE judg_seq = #{masterId}
		  AND land_obst_kind_cd = 'L'
		   -->
		  <!-- new 필지 개수-->
SELECT count(*) FROM dbo.Kapa_Land RI
LEFT JOIN dbo.Kapa_LandRights ROI ON RI.id = ROI.LandID 
WHERE RI.masterId = #{masterId} 
    </select>

	<select id="getApplicationLandRightCount" parameterType="Integer" resultType="Integer">
<!--         select count(*) from 
		  (SELECT distinct ownr_seq FROM tb_ltis2kapa_rept_ownr_intr 
		  WHERE judg_seq = #{masterId} AND land_obst_kind_cd = 'L') as a -->
		  
		  
<!-- new 필지 소유자 개수-->

select count(*) from
  (SELECT distinct  ROI.pid FROM dbo.Kapa_Land RI LEFT JOIN dbo.Kapa_LandRights ROI ON RI.id = ROI.LandId WHERE RI.masterId = #{masterId}) a
    </select>


	<select id="getApplicationObjectCount" parameterType="Integer" resultType="Integer">
      <!--   SELECT
		      count(*)  
		  FROM tb_ltis2kapa_rept_info
		  WHERE judg_seq = #{masterId}
		  AND NOT land_obst_kind_cd = 'L' -->
		  
		   <!-- new 지장물 개수 -->
  SELECT 
count(*)
  FROM dbo.Kapa_Objects RI
  LEFT JOIN dbo.Kapa_ObjectsRights ROI ON RI.id = ROI.ObjectsID 
  WHERE RI.masterId = #{masterId}
    </select>

	<select id="getApplicationObjectRightCount" parameterType="Integer" resultType="Integer">
         <!-- SELECT
		      ownr_nm 
		  FROM tb_ltis2kapa_rept_ownr_intr
		  WHERE judg_seq = #{masterId}
		  AND NOT land_obst_kind_cd = 'L' -->
		  
<!--
 		  select count(*) from 
		  (SELECT distinct ownr_seq FROM tb_ltis2kapa_rept_ownr_intr 
		  WHERE judg_seq = #{masterId}  AND NOT land_obst_kind_cd = 'L') as a -->
		  <!-- new 지장물 소유자 개수 -->
  select count(*) from
  (SELECT distinct  ROI.pid FROM dbo.Kapa_Objects RI LEFT JOIN dbo.Kapa_ObjectsRights ROI ON RI.id = ROI.ObjectsID WHERE RI.masterId = #{masterId}) a
    </select>
   

	<!-- 필지 목록 -->
	<select id="getLandInfo" parameterType="Integer" resultType="egovframework.kapa.implementer.domain.ApplicationLand" >
		 <!-- SELECT
		    * 
		  FROM tb_ltis2kapa_rept_info
		  WHERE judg_seq = #{masterId}
 		  AND land_obst_kind_cd = 'L' -->
 		  
<!--
old 필지
SELECT ROI.rept_ownr_intr_seq,ROI.ownr_nm,RI.* FROM tb_ltis2kapa_rept_info RI
LEFT JOIN tb_ltis2kapa_rept_ownr_intr ROI ON RI.rept_seq = ROI.rept_seq 
WHERE RI.judg_seq = #{masterId} AND RI.land_obst_kind_cd = 'L'  -->

<!-- new 필지 -->
SELECT ROI.id,ROI.pname,RI.* FROM dbo.Kapa_Land RI
LEFT JOIN dbo.Kapa_LandRights ROI ON RI.id = ROI.LandID 
WHERE RI.masterId = #{masterId} 

	</select> 
	
	<!-- 필지 관계  -->
	<select id="getLandRelationInfo" parameterType="Integer" resultType="egovframework.kapa.implementer.domain.ApplicationLandRelation" >
		 SELECT
		    * 
		  FROM tb_ltis2kapa_rept_ownr_intr
		  WHERE rept_seq = #{reptSeq}
 		  AND ownr_intr_yn = 'O'
	</select> 
	
	
	<!-- 필지소유자 정보 목록 -->
	<select id="getLandOwnerInfo" parameterType="Integer" resultType="egovframework.kapa.implementer.domain.ApplicationLandowner" >
		 SELECT
		    * 
		  FROM tb_ltis2kapa_ownr_intr
		  WHERE ownr_intr_seq = #{ownrIntrSeq}
	</select> 
	
	
	 <!-- 지장물 목록 -->
	<select id="getGoodsInfo" parameterType="Integer" resultType="egovframework.kapa.implementer.domain.ApplicationLand" >
		 <!-- SELECT
		    * 
		  FROM tb_ltis2kapa_rept_info
		  WHERE judg_seq = #{masterId}
		  AND NOT land_obst_kind_cd = 'L' -->
<!--
old 지장물 목록
SELECT ROI.rept_ownr_intr_seq,ROI.ownr_nm,RI.* FROM tb_ltis2kapa_rept_info  RI
LEFT JOIN tb_ltis2kapa_rept_ownr_intr ROI ON RI.rept_seq = ROI.rept_seq 
WHERE RI.judg_seq = #{masterId} AND NOT RI.land_obst_kind_cd = 'L' AND ROI.ownr_intr_yn = 'O'
 -->
 <!-- new 지장물 목록 -->
  SELECT 
  ROI.id,ROI.pname, RI.* 
  FROM dbo.Kapa_Objects RI
  LEFT JOIN dbo.Kapa_ObjectsRights ROI ON RI.id = ROI.ObjectsID 
  WHERE RI.masterId = #{masterId}
	</select> 
	
	<!--의견 저장 -->
	<insert id="insertOpinion" parameterType="egovframework.kapa.domain.Decision_Opinion">
		insert into TB_Decision_Opinion( decisionId, reptSeq,type, ownerOpinion, executorOpinion,completionCheck,delCheck,regdate, reptOwnrSeq, ownrNm)
    	values(#{decisionId}, #{reptSeq},#{type}, #{ownerOpinion}, #{executorOpinion},'0', #{delCheck}, #{regdate}, #{reptOwnrSeq}, #{ownrNm})
    </insert>
    
    <insert id="saveRegister" parameterType="egovframework.kapa.domain.Decision_Opinion">
		insert into TB_REGISTER_STEP2( decisionId, opinionType, completionCheck, delCheck)
    	values(#{decisionId}, #{type}, '0', '0')
    </insert>
	
	
	<!--의견 아이탬 저장 -->
	<insert id="insertOpinionItem" parameterType="egovframework.kapa.domain.Decision_Opinion_Item">
		insert into TB_Decision_Opinion_Item( decisionId, reptSeq,reptOwnrSeq , opinionType, opinionTitle,opinionContent,opinionItemFile,rank, delCheck, regdate)
    	values(#{decisionId}, #{reptSeq},#{reptOwnrSeq} , #{opinionType}, #{opinionTitle},#{opinionContent},#{opinionItemFile},#{rank}, #{delCheck}, #{regdate})
    </insert>


	<!-- 필지/지장물 관계 목록 -->
	<select id="getLandRelationInfoList" resultType="egovframework.kapa.implementer.domain.ApplicationLandRelation" >
		 SELECT
		    * 
		  FROM tb_ltis2kapa_rept_ownr_intr
		  WHERE 
 		    ownr_intr_yn = 'O' 
 		    AND rept_seq IN
			
			<!--  이부분 수정 필요 -->
			
			<foreach collection="list" item="item" index="index" separator="," open="(" close=")">	
				#{item}
			</foreach>
			
	</select> 
	
	<!-- 소유자 목록 -->
	<select id="getOwnerInfoList" parameterType="Integer" resultType="egovframework.kapa.implementer.domain.OwnerInfo" >
		 SELECT
		  DISTINCT ownr_nm,ownr_seq 
		  FROM tb_ltis2kapa_rept_ownr_intr
		  WHERE 
 		    ownr_intr_yn = 'O' AND
			judg_seq = #{masterId}
	</select> 

	<!-- 토지 소유자 목록 -->
	<select id="getLandOwnerInfoList" parameterType="Integer" resultType="egovframework.kapa.implementer.domain.LandownerInfo" >
		 <!-- SELECT 
	      A.rept_seq,B.rept_addr,B.sido_gungu_cd,B.main_strt_no,B.sub_strt_no,B.strt_other,B.obst_kind_nm,B.obst_stuc1_nm,B.obst_stuc2_nm,b.area_amot,B.bef_unit_cost,B.area_unit,A.ownr_nm,A.land_shre
		  FROM tb_ltis2kapa_rept_ownr_intr AS A
		  LEFT JOIN tb_ltis2kapa_rept_info AS B
		  ON A.rept_seq = B.rept_seq
		  WHERE 
 		     A.ownr_seq = #{ownrSeq}
			 AND A.ownr_intr_yn = 'O'
			  AND  B.land_obst_kind_cd = 'L' -->
			  EXEC KAPA_IMPLEMENTER_LAND_OWNER_INFO @ownrSeq = #{ownrSeq}
	</select> 
	
    <!-- 지장물 소유자 목록 -->
	<select id="getGoodsOwnerInfoList" parameterType="Integer" resultType="egovframework.kapa.implementer.domain.GoodsownerInfo" >
		 <!-- SELECT 
	      A.rept_seq,B.rept_addr,B.main_strt_no,B.sub_strt_no,B.strt_other,B.obst_kind_nm,B.obst_stuc1_nm,B.obst_stuc2_nm,b.area_amot,B.bef_unit_cost,B.area_unit,A.ownr_nm,A.land_shre
		  FROM tb_ltis2kapa_rept_ownr_intr AS A
		  LEFT JOIN tb_ltis2kapa_rept_info AS B
		  ON A.rept_seq = B.rept_seq
		  WHERE 
 		     A.ownr_seq = #{ownrSeq}
			 AND A.ownr_intr_yn = 'O'
			  AND  B.land_obst_kind_cd = 'O' -->
			  EXEC KAPA_IMPLEMENTER_GOODS_OWNER_INFO @ownrSeq = #{ownrSeq}
			  
	</select> 
	

	<!-- 소유자 정보 -->
	<select id="getOwnerInfo" parameterType="long" resultType="egovframework.kapa.implementer.domain.OwnerViewInfo" >
		SELECT 
			A.rept_seq,B.rept_addr,B.sido_gungu_cd,B.main_strt_no,B.sub_strt_no,B.strt_other,B.obst_kind_nm,B.obst_stuc1_nm,B.obst_stuc2_nm,b.area_amot,B.bef_unit_cost,B.area_unit,A.ownr_nm,A.land_shre,B.land_obst_kind_cd
			FROM tb_ltis2kapa_rept_ownr_intr AS A
			LEFT JOIN tb_ltis2kapa_rept_info AS B
			ON A.rept_seq = B.rept_seq
			WHERE 
			 	rept_ownr_intr_seq = #{reptSeq}
				<!-- AND A.ownr_intr_yn = 'O' -->
	</select> 

	<select id="getDecisionOpinion" parameterType="Integer" resultType="egovframework.kapa.implementer.dto.DecisionOpinionDTO" >
			<!-- SELECT tdo.ownerOpinion, tdo.executorOpinion, tdo.type 
			from TB_Decision_Opinion tdo where tdo.reptSeq in
			(SELECT tlkri.rept_seq  from tb_ltis2kapa_rept_info tlkri where tlkri.judg_seq  = (SELECT judg_seq  from tb_ltis2kapa_ownr_intr tlkoi where tlkoi .ownr_intr_seq =#{ownrSeq})) -->
			EXEC KAPA_IMPLEMENTER_DECISION_OPINION @ownrSeq = #{ownrSeq}
	</select> 

	<select id="getDecisionOpinionFile" parameterType="Integer" resultType="egovframework.kapa.implementer.dto.DecisionOpinionFileDTO" >
			<!-- SELECT tdoi.opinionTitle, tdoi.opinionContent, tdoi.opinionType
			from TB_Decision_Opinion_Item tdoi where tdoi.reptSeq  in 
			(SELECT tlkri.rept_seq  from tb_ltis2kapa_rept_info tlkri where tlkri.judg_seq  = (SELECT judg_seq  from tb_ltis2kapa_ownr_intr tlkoi where tlkoi .ownr_intr_seq =#{ownrSeq})) -->
			EXEC KAPA_IMPLEMENTER_DECISION_OPINION_FILE @ownrSeq = #{ownrSeq}
	</select> 


	

</mapper>