@charset "UTF-8";

/* jspdf를 적용할 페이지에만 css 연결 */

/* 230113 pdf.css */ 
#header,
#footer,
.sub_title,
.cs_navi,
h3::before {display:none;}

#contents.c_sub_pdf .cs_wrap {
    max-width:100%;
    padding:40px 20px;
    margin:0;
}

.c_sub_pdf * {
    color:#000 !important;
}

.c_sub_pdf .title {
    font-size:60px;
}

.c_sub_pdf .title.t1 {
    font-size:36px;
}

.c_sub_pdf .form .f_field .ff_title label,
.c_sub_pdf .form .f_field .ff_wrap p,
.c_sub_pdf .s_title, 
#contents.c_sub_pdf .c_table table th,
#contents.c_sub_pdf .c_table table td,
.c_sub_pdf .textarea_bd,
#contents.c_sub_pdf .c_table table tbody > tr > th.info_reg_th{
    font-size:24px;
}

.c_sub_pdf .form {
    border-color:#000;
}
.c_sub_pdf .form .f_field {
    padding:0;
}
.c_sub_pdf .form .f_field:before {
    display:none;
}

.c_sub_pdf .form .f_field .ff_title {
    height:unset;
    margin:0;
    max-width:unset;
    background:#f7f7f7;
    padding:0.5em 1em;
    flex-basis: 200px;
}

.c_sub_pdf .form.t3 .f_field .ff_title {
    flex-basis: 360px;
}

.c_sub_pdf .f_wrap .ff_title,
.c_sub_pdf .form .f_wrap {
    box-shadow: inset 0 -1px 0 #e7e8ea;
}

.c_sub_pdf .form .f_field .ff_wrap {
    margin:0 !important;
    padding:0.5em 1em;
    flex:1;
}

.c_sub_pdf .f_wrap,
.c_sub_pdf .form .f_field.div2, 
.c_sub_pdf .form .f_field {
    display:flex;
    align-items: stretch;
}

#contents.c_sub_pdf .c_table table {
    border:1px solid #ccc;
    border-left:0;
    border-bottom:0;
}

#contents.c_sub_pdf .c_table table th,
#contents.c_sub_pdf .c_table table td {
    border:0;
    border:1px solid #ccc;
    border-right:0;
    border-top:0;
}

#contents.c_sub_pdf .c_table table th:first-child {
    border-left:1px solid #ccc;
}

.c_sub_pdf .textarea_bd {
    width:100%;
}