body {
	/* width: 100%;
    height: 100%;
    overflow: hidden; */
    overflow-x: clip;
}

/* pdf_loader */
.pdf__loader {
	position:absolute;
	background:#222;
	width:100%;
	height:100%;
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-items:center;
}
.pdf__loader__txt {
	font-family:'Noto Sans KR',san-serif;
	color:#fff;
	text-align:center;
}
.pdf__loader__svg {
	width:100px;
}
.pdf__loader__svg circle {
	animation: fadeInOut 0.6s linear infinite alternate;
}
.pdf__loader__svg circle:nth-child(2) {
	animation-delay : 0.2s
}
.pdf__loader__svg circle:nth-child(3) {
	animation-delay : 0.4s
}

@keyframes fadeInOut {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

/* pdf__page */
.pdf_wr {
	font-family: 'Noto Serif KR', serif;
	line-height:1.5;
	background:#fff;
}
.pdf__page {
	width: 100vw;
    padding: 8em 4em;
}
.pdf__page--cover {
	height: 141.4vw;
	padding: 16em 12em;
}
.pdf__page--img {
	padding: 0;
}
.pdf__page--img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.pdf__tit {
	font-family:'Noto Sans KR',san-serif;
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.5;
	text-align: center;
}
.pdf__tit--sub {
	font-size: 2rem;
	margin-top: 2em;
	margin-bottom: 0.8em;
}
.f_wrap ~ .f_wrap {
	margin-top: 1.5em;
}
.f_wrap__tit {
	font-family:'Noto Sans KR',san-serif;
	font-size: 1.5rem;
	font-weight:700;
	margin-bottom: 0.5em;
}
.f_wrap__tit::before {
	content: '□';
	margin-right: 0.3em;
}
.f_wrap__list {
	padding-left: 1em;
}
.f_wrap__item {
	line-height: 2;
}
.f_wrap__item::before {
	content: '○';
	margin-right: 0.3em;
}
.f_wrap__item--sub::before {
    content: '-';
}
.f_wrap__textarea {
	border: 2px solid #000;
    padding: 0.8em;
    word-break: break-all;
}
.f_wrap__textarea * {
	font-family:'Noto Serif KR',serif !important; 
	font-size: 1rem;
	font-weight: 500;
	line-height:1.75;
}
.f_wrap__textarea table {
	width:100%;
}
.f_wrap__textarea th,
.f_wrap__textarea td {
	text-align: center;
	border: 1px solid #ccc !important;
}
.f_wrap__textarea th * ,
.f_wrap__textarea td * {
	text-align: center !important;
}
.f_wrap__table {
	width: 100%;
	border: 2px solid #000;
	margin: 0.6em 0 1.2em;
}
.f_wrap__table--owner_opinion {
	table-layout: fixed;
}
.f_wrap__table th,
.f_wrap__table td {
	border: 1px solid #000;
	border-right: 0;
	border-bottom: 0;
	word-break: break-all;
	padding: 0.4em 0.2em;
}
.f_wrap__table th {
	text-align: center;
}
.f_wrap__table td {
	vertical-align : baseline;
}
.f_wrap__table td.f_wrap__td--cen {
	text-align:center;
}
.f_wrap__table td.f_wrap__td--para {
	padding: 0.4em 0.8em;
}
.f_wrap__table p {
	word-break: break-all;	
}
.f_wrap__table img {
	width: 100%;
}
.f_wrap__table--csltList {	
	width: calc(100% + 1em);
    position: relative;
    left: -1em;
}
.f_wrap__table--csltList th,
.f_wrap__table--csltList td {
	text-align:center;
}
.f_wrap__table--csltList td {
	letter-spacing: -0.05em;
    font-size: 0.875rem;
}
.f_wrap__table--csltList td:nth-child(3n+1) {
	width: 6em;
}
.f_wrap__th--opinion {
	width:15em;
}
.f_wrap__th--num {
	width:2.5em;
}
.f_wrap__th--owner_name {
	width:7em;
}

/* 심사하기 */
.decide_wr {
	font-size: 16px;
	padding: 4em 6em;
	background: #f7f7f9;
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.decide_wr__tit {
	font-size: 24px;
	font-weight: 800;
	color: #54596d;
	margin-bottom: 32px;
}
.decide_wr__conwr ~ .decide_wr__conwr {
	margin-top: 20px;
}
.decide_wr__contit {
	font-size: 18px;
	font-weight: 700;
	color: #666974;
	margin-bottom: 8px;
}
.decide_wr__con {
	display:flex;
	padding: 16px 20px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow-y: auto;
}
.decide_wr__textarea {
	width: 100%;
	min-height: 10em;
	outline: 0;
	color: #555;
	word-break: break-all;
	padding-right:8px;
	line-height: 1.4;
}
.decide_wr__textarea::-webkit-scrollbar {width: 6px;}
.decide_wr__textarea::-webkit-scrollbar-track {background: #f1f1f1;}
.decide_wr__textarea::-webkit-scrollbar-thumb {background: #ccc;}
.decide_wr__label {
    color: #666974;
    text-indent: 8px;
    line-height: 22px;
    font-size: 18px;
}
.decide_wr__radio {
	position: relative;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.decide_wr__radio::before {
	content:'';
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 3px;
	border: 1px solid #ddd;
	background: #fff;
}
.decide_wr__radio::after {
    content: '';
    width: 5px;
    height: 10px;
    position: absolute;
    top: 3px;
    left: 7px;
    transform: rotate(45deg);
    border: 2px solid #ddd;
    border-left: 0;
    border-top: 0;
}
.decide_wr__radio:checked::before {
	border: 1px solid #365978;
	background: #365978;
}
.decide_wr__radio:checked::after {
    border-color: #fff;
}
.decide_wr__label + .decide_wr__radio {
	margin-left: 16px;
}
.decide_wr__radio:checked + .decide_wr__label {
	font-weight: 700;
	color: #365978;
}
.decide_wr__btnwr {
	margin-top: 48px;
}
.decide_wr__btn {
	padding: 12px 24px;
	background: #54596D;
	border-radius: 4px;
	font-weight: 500;
	font-size: 18px;
	color: #fff;
}

/* PDF 다운로드 버튼 */
.btn_wr {
	display: flex;
	justify-content: center;
	margin-bottom: 6em;
	font-family: 'Noto Sans KR', sans-serif;
}
.btn--down {
    font-size: 20px;
    padding: 0.4em 1em;
    height: fit-content;
}
.icon {
	display: inline-block;
    vertical-align: -4px;
    width: 24px;
    height: 24px;
    background-image: url(../images/common/icon_btn.svg);
    background-repeat: no-repeat;
    background-size: 300% auto;
    margin-right:10px;
}
.icon.download.white {
    background-position: 100% 0px;
}

/* 심의안건정보 목차 */
.opinion_index_container {
	position: sticky;
	position: -webkit-sticky;
	top: 100px;
    height: 1px;
    z-index: 1;
    width: 100%;
    overflow-x: clip;
    display:flex;
    justify-content:flex-end;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    line-height:1;
}
.opinion_index_btn {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 0.6em;
    gap: 0.5em;
	position: absolute;
    right: 0;
    top: 10px;
	width: 44px;
    height: fit-content;
    border-radius: 5px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    /* background: #365978; */
    background: #313131;
    cursor: pointer;
}
.opinion_index_btn svg {
	width: 24px;
    height: 24px;
}
.opinion_index_btn.on svg {
	transform: rotate(180deg);
}
.opinion_index_btn span {
	font-size: 18px;
    color: #fff;
    line-height: 1.2;
}
.opinion_index_btn.on span {
	display:none;
}
.opinion_index_wr {
	text-align: left;
	padding: 12px;
	border-left:2px solid #5A7791;
	/* background: #f6f8fc; */
	background: #f7f7f7;
    /* border: 1px solid #E7EAF2; */
    border: 1px solid #ddd;
    box-shadow: 3px 3px 15px rgb(0 0 0 / 5%);
    border-right: 0;
    /* overflow-y: scroll; */
    overflow-x: clip;
    height: fit-content;
    max-height: 800px;
    white-space: nowrap;
    display:none; /* script animation */
}
.opinion_index_wr .title {
    /* color: #365978; */
    color: #313131;
	margin-bottom:12px;
	font-size: 20px;
	text-indent: 0.5em;
}
.opinion_index_list a {
    display:inline-block;
	font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.06em;
    line-height: 1.3;
    width: 100%;
    padding: 10px;
    /* color: #365978; */
    color: #313131;
    word-break: keep-all;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.opinion_index_list a:hover {
	background: #F3F6FB;
	background: #fff;
}
.opinion_index_list--sub a {
	font-size: 14px;
    /* color: #5A7791; */
    color: #555;
    text-indent:1em;
}
.opinion_index_list--sub2 a {
	font-size: 13px;
	text-indent: 3em;
    padding: 6px;
}