<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="egovframework.kapa.security.mapper.UserMapper">

	<resultMap id="resultUserVO"
		type="egovframework.kapa.security.service.UserVO">
		<result property="userId" column="userId" />
		<result property="userPassword" column="userPassword" />
		<result property="userName" column="userName" />
		<result property="userAuthority" column="userAuthority" />
		<result property="userEnabled" column="delCheck" />
	</resultMap>
	
	<select id="getUserById" parameterType="String" resultMap="resultUserVO">
		SELECT
			 *
		FROM TB_User
		WHERE userId = #{userId}
	</select>
	
	<select id="getUserExist" parameterType="String" resultType="Integer">
		SELECT COUNT(*)
		FROM TB_User
		WHERE userId = #{userId}
	</select>

</mapper>